.tabActive{
    border-bottom: 2px solid;
    border-color: #34b4eb ;
    color: #34b4eb;
    font-weight: 500;
}

.tab{
    border-bottom: 2px solid transparent;
    border-color: grey;
    color: grey;
    font-weight: 500;
}